<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Site</title>
</head>
<body>
  {% include 'nav-bar.html' %}
    <h1>Hello from Form Page</h1>
    <h2>Please fill out the form below:</h2>
    <form>
      <input type="text" name="first_name" placeholder="First Name" required placeholder="Enter your first name">
      <input type="text" name="last_name" placeholder="Last Name" required placeholder="Enter your last name">
      <input type="submit" value="Enter">
    </form>
</html>